.about-header {
  width: 100%; }
  .about-header img {
    width: 100%; }

.about-content {
  text-align: center;
  padding: 0 110px; }
  @media (max-width: 768px) {
    .about-content {
      padding: 0 10px; } }
  .about-content .img {
    width: 100%; }
  .about-content .text-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 120px;
    color: #333;
    font-size: 22px; }
  .about-content .title-content {
    margin-top: 20px;
    color: #008ac5;
    text-align: center;
    font-size: 32px; }

.huoban-box {
  margin-top: 50px;
  margin-bottom: 100px; }
  .huoban-box div.huoban-item {
    float: left;
    text-align: center;
    padding: 10px 0;
    width: 33.333%; }
    @media (max-width: 768px) {
      .huoban-box div.huoban-item {
        width: 100%; } }

.youshi-box {
  width: 100%;
  padding-top: 50px;
  font-size: 0; }
  .youshi-box .youshi-item {
    float: left;
    width: 33.333%; }
    @media (max-width: 768px) {
      .youshi-box .youshi-item {
        width: 100%; } }
    .youshi-box .youshi-item h2 {
      font-size: 30px;
      color: #008ac5; }
    .youshi-box .youshi-item p {
      padding: 0 20px;
      font-size: 18px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4; }


.t-link {
    margin-bottom: 60px;
    display: block;
    float: left;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.t-link:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.content-bottom {
    width: 988px;
    margin: auto auto 50px
}

.content-bottom .title {
    margin-top: 42px
}

.content-bottom .sub-title {
    margin-bottom: 32px
}

.content-bottom .logos-wrapper {
    overflow: hidden
}

.content-bottom .link-logo {
    float: left;
    margin: 14px auto auto 14px;
    border: 1px solid #e8e8e8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.content-bottom .link-logo:hover {
    box-shadow: 0 1px 8px #ccc;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.content-bottom .link-more-btn {
    float: left;
    margin: 14px auto auto 14px;
    width: 228px;
    height: 100px;
    line-height: 98px;
    text-align: center;
    display: block;
    color: #333;
    border: 1px solid #e8e8e8
}

.text-wrapper {
    width: 988px;
    margin: auto
}

.text-wrapper .title {
    text-align: center;
    color: #333;
    margin-top: 50px;
    font-weight: bold;
}

.text-wrapper .sub-title {
    color: #666;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 65px
}

.top-six {
    margin-left: 100px
}
