@charset "UTF-8";

html {
  height: 100%;
}
body {
  height: 100%;
}
.body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100%;
}
.menu-bg {
  z-index: 9;
  background: #000;
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 80px;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}
.menu-box {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  padding-right: 20px;
}
.menu-box nav {
  margin-left: 110px;
}
@media (max-width:768px) {
  .menu-box nav {
    margin-left: 5px;
  }
}
.menu-box ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
}
.menu-box ul li {
  font-size: 0;
  padding: 0 20px;
  display: inline-block;
}
@media (max-width:768px) {
  .menu-box ul li {
    padding: 8px;
  }
}
.menu-box ul li a {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
@media (max-width:768px) {
  .menu-box ul li a {
    font-size: 15px;
  }
}
.menu-box ul li a:visited, .menu-box ul li a:focus, .menu-box ul li a:link {
  color: #fff;
}
.menu-box ul li a:hover, .menu-box ul li a.active {
  position: relative;
}
.menu-box ul li a:hover:after, .menu-box ul li a.active:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #fff;
  width: 100%;
}
.swiper-container {
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-slide .slide-one {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background: url("../img/slider1.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}
.swiper-slide .slide-one .title {
  margin-top: 200px;
  width: 430px;
  height: 80px;
}
.swiper-slide .slide-one .content-text {
  font-size: 24px;
  color: #e7e7e7;
  letter-spacing: .3em;
  margin-top: 60px;
}
.swiper-slide .slide-one .content-text span {
  border-top: thin solid #fff;
  display: inline-block;
  padding-top: 12px;
}
.swiper-slide .slide-one .content-text img {
  width: 360px;
  height: 40px;
}
.swiper-slide .slide-one .content-list {
  margin-top: 150px;
}
.swiper-slide .slide-one .content-list li {
  display: inline-block;
  font-size: 0;
  color: #fff;
  padding: 0 39px;
}
.swiper-slide .slide-one .content-list li h2 {
  font-size: 28px;
}
.swiper-slide .slide-one .content-list li p {
  font-size: 22px;
  font-weight: 200;
}
.swiper-slide .slide-three {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background: url("../img/slider3.jpg") no-repeat;
  background-size: cover;
}
.swiper-pagination {
  bottom: 30px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-pagination-bullet {
  width: 54px;
  height: 2px;
  margin: 0 3px;
  overflow: hidden;
  text-indent: -999em;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 0;
  opacity: 1;
}
.footer {
  height: 250px;
  width: 100%;
  text-align: center;
  background: #252525;
  padding-top: 100px;
}
.footer .title {
  font-size: 34px;
  color: #fff;
}
.footer .smill {
  font-size: 18px;
  color: #fff;
}
.fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

/* job */
.inner {
  width: 1040px;
  margin: 0 auto;
}

/* index */
.title i, .title b, .title_des, .ico_tec, .ico_pm, .ico_design, .ico_market, .index h2, .btn_player, .time_list li:after, .time_list li:before, .com_close, .arrow {
  background: url(../img/spr_index.png) no-repeat;
}
html, body {
  width: 100%;
  height: 100%;
}
.body-box {
  overflow: hidden;
}
.index {
  height: 100%;
  width: 12600px;
  width: 100%;
}
.index_box_6 {
  width: 100%;
  background: url("../img/slider2.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 20px 0 0;
}
.inner {
  position: absolute;
  height: 100%;
  top:50%;
  left: 50%;
  margin:-350px 0 0 -560px;
}
.index_box_6 h2 {
  font-size: 25px;
  margin-top: 83px;
  margin-left: 20px;
  width: 260px;
  height: 130px;
  background-position: 0 -490px;
  position: absolute;
  z-index: 2;
  color: #fff;
}
.index_box_6 h2 span {
  font-family: '黑体';
  font-size: 40px;
  display: block;
  color: #28a3f3;
}
.ele_box {
  position: relative;
  top: -100px;
  display: none;
  z-index: 100;
}
.com_ele {
  text-align: center;
  color: #fff;
  transition: .5s;
  position: absolute;
  transform-origin: center center;
  cursor: pointer;
}
.com_ele:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  display: block;
  background: #28a3f3;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}
.com_close {
  width: 50px;
  height: 50px;
  line-height: 100;
  display: block;
  background-position: -170px -190px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  display: none;
}
.com_ball {
  border-radius: 50%;
  position: absolute;
  transition: .5s;
  text-align: center;
}
.com_ele h3 {
  font-weight: lighter;
  font-size: 20px;
  position: relative;
  z-index: 3;
  transition: .5s;
}
.com_ele p {
  opacity: 0;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  display: none;
}
.open p {
  display: block;
}
.ce1 {
  width: 200px;
  height: 200px;
  top: 426px;
  left: -27px;
}
.ce2 {
  width: 220px;
  height: 220px;
  top: 130px;
  left: 307px;
}
.ce3 {
  width: 145px;
  height: 145px;
  top: 202px;
  left: 584px;
}
.ce4 {
  width: 150px;
  height: 150px;
  top: 380px;
  left: 270px;
}
.ce5 {
  width: 180px;
  height: 180px;
  top: 407px;
  left: 467px;
}
.ce6 {
  width: 230px;
  height: 230px;
  top: 340px;
  left: 710px;
}
.ce7 {
  width: 210px;
  height: 210px;
  top: 545px;
  left: 272px;
}
.ce8 {
  width: 210px;
  height: 210px;
  top: 615px;
  left: 570px;
}
.ce9 {
  width: 200px;
  height: 200px;
  top: 554px;
  left: 916px;
}
.ce10 {
  width: 100px;
  height: 100px;
  background: rgba(40, 163, 243, 0.2);
  top: 340px;
  left: 114px;
}
.ce11 {
  width: 178px;
  height: 178px;
  background: rgba(40, 163, 243, 0.2);
  top: 510px;
  left: -272px;
}
.ce12 {
  width: 132px;
  height: 132px;
  background: rgba(40, 163, 243, 0.2);
  top: 748px;
  left: 15px;
}
.ce13 {
  width: 105px;
  height: 105px;
  background: rgba(40, 163, 243, 0.2);
  top: 752px;
  left: 864px;
}
.ce14 {
  width: 128px;
  height: 128px;
  background: rgba(40, 163, 243, 0.2);
  top: 225px;
  right: -58px;
}
.ce15 {
  width: 150px;
  height: 150px;
  background: rgba(40, 163, 243, 0.2);
  top: 420px;
  right: -250px;
}
.ce1 h3, .ce9 h3 {
  line-height: 200px;
}
.ce2 h3 {
  line-height: 220px;
}
.ce3 h3 {
  line-height: 145px;
}
.ce4 h3 {
  line-height: 150px;
}
.ce5 h3 {
  line-height: 180px;
}
.ce6 h3 {
  line-height: 230px;
}
.ce7 h3, .ce8 h3 {
  line-height: 230px;
}
.move0 .ce1 {
  -webkit-animation: mc1 2s .5s both;
  animation: mc1 2s .5s both;
}
@-webkit-keyframes mc1 {
  0% {
    -webkit-transform: translate(-100px, -20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce2 {
  -webkit-animation: mc2 2s .6s both;
  animation: mc2 2s .6s both;
}
@-webkit-keyframes mc2 {
  0% {
    -webkit-transform: translate(0, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce3 {
  -webkit-animation: mc3 2s .5s both;
  animation: mc3 2s .5s both;
}
@-webkit-keyframes mc3 {
  0% {
    -webkit-transform: translate(100px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce4, .move0 .ce10 {
  -webkit-animation: mc4 1s .5s both;
  animation: mc4 2s .5s both;
}
@-webkit-keyframes mc4 {
  0% {
    -webkit-transform: translate(-100px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce5 {
  -webkit-animation: mc5 2s .6s ease both;
  animation: mc5 2s .6s ease both;
}
@-webkit-keyframes mc5 {
  0% {
    -webkit-transform: translate(30px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce6, .move0 .ce14 {
  -webkit-animation: mc3 1s .5s ease both;
  animation: mc3 1s .5s ease both;
}
.move0 .ce7 {
  -webkit-animation: mc7 2s .5s ease both;
  animation: mc7 2s .5s ease both;
}
@-webkit-keyframes mc7 {
  0% {
    -webkit-transform: translate(-120px, 100px);
    opacity: 0;
  }
  100% {
    t-webkit-ransform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce8 {
  -webkit-animation: mc8 2s .7s ease both;
  animation: mc8 2s .7s ease both;
}
@-webkit-keyframes mc8 {
  0% {
    -webkit-transform: translate(80px, 100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce9 {
  -webkit-animation: mc9 2s .5s ease both;
  animation: mc9 2s .5s ease both;
}
@-webkit-keyframes mc9 {
  0% {
    -webkit-transform: translate(80px, 60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce11 {
  -webkit-animation: mc11 2s .6s ease both;
  animation: mc11 2s .6s ease both;
}
@-webkit-keyframes mc11 {
  0% {
    -webkit-transform: translate(-100px, 0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce12 {
  -webkit-animation: mc12 2s .7s ease both;
  animation: mc12 2s .7s ease both;
}
@-webkit-keyframes mc12 {
  0% {
    -webkit-transform: translate(-100px, 70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce13 {
  -webkit-animation: mc13 2s .5s ease both;
  animation: mc13 2s .5s ease both;
}
@-webkit-keyframes mc13 {
  0% {
    -webkit-transform: translate(50px, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move0 .ce15 {
  -webkit-animation: mc15 2s .5s ease both;
  animation: mc15 2s .5s ease both;
}
@-webkit-keyframes mc15 {
  0% {
    -webkit-transform: translate(100px, 10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
.move1 .ce1:after {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.move1 .ce2 {
  -webkit-transform: translate3d(15px, -15px, 0);
  transform: translate3d(15px, -15px, 0);
}
.move1 .ce3, .move1 .ce4 {
  -webkit-transform: translate3d(15px, -10px, 0);
  transform: translate3d(15px, -10px, 0);
}
.move1 .ce5, .move1 .ce6, .move1 .ce8, .move1 .ce14 {
  -webkit-transform: translate3d(15px, -2px, 0);
  transform: translate3d(15px, -2px, 0);
}
.move1 .ce8, .move1 .ce7, .move1 .ce9, .move1 .ce15 {
  -webkit-transform: translate3d(15px, 3px, 0);
  transform: translate3d(15px, 3px, 0);
}
.move1 .ce10 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.move1 .ce11 {
  -webkit-transform: translate3d(-10px, 10px, 0);
  transform: translate3d(-10px, 10px, 0);
}
.move1 .ce12 {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
.move1 .ce13 {
  -webkit-transform: translate3d(10px, 5px, 0);
  transform: translate3d(10px, 5px, 0);
}
.move2 .ce2:after {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.move2 .ce1, .move2 .ce4, .move2 .ce11, .move2 .ce12 {
  -webkit-transform: translate3d(-5px, 15px, 0);
  transform: translate3d(-5px, 15px, 0);
}
.move2 .ce3, .move2 .ce6, .move2 .ce14 {
  -webkit-transform: translate3d(10px, 5px, 0);
  transform: translate3d(10px, 5px, 0);
}
.move2 .ce5, .move2 .ce15, .move2 .ce8, .move2 .ce9, .move2 .ce13 {
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
}
.move2 .ce7 {
  -webkit-transform: translate3d(-2px, 10px, 0);
  transform: translate3d(-2px, 10px, 0);
}
.move2 .ce10 {
  -webkit-transform: translate3d(-2px, 10px, 0);
  transform: translate3d(-2px, 10px, 0);
}
.move2 .ce11 {
  -webkit-transform: translate3d(-10px, 5px, 0);
  transform: translate3d(-10px, 5px, 0);
}
.move3 .ce3:after {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: center 10%;
  transform-origin: center 10%;
}
.move3 .ce2, .move3 .ce10 {
  -webkit-transform: translate3d(-20px, 10px, 0);
  transform: translate3d(-20px, 10px, 0);
}
.move3 .ce1, .move3 .ce4, .move3 .ce7, .move3 .ce11, .move3 .ce12 {
  -webkit-transform: translate3d(-10px, 10px, 0);
  transform: translate3d(-10px, 10px, 0);
}
.move3 .ce6 {
  -webkit-transform: translate3d(40px, 40px, 0);
  transform: translate3d(40px, 40px, 0);
}
.move3 .ce9, .move3 .ce13, .move3 .ce15 {
  -webkit-transform: translate3d(20px, 20px, 0);
  transform: translate3d(20px, 20px, 0);
}
.move3 .ce5 {
  -webkit-transform: translate3d(-10px, 20px, 0);
  transform: translate3d(-10px, 20px, 0);
}
.move3 .ce8 {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
.move3 .ce14 {
  -webkit-transform: translate3d(20px, 3px, 0);
  transform: translate3d(20px, 3px, 0);
}
.ce3 .com_close {
  bottom: -50px;
}
.move4 .ce4:after {
  -webkit-transform: scale(1.5);
  -webkit-transform-origin: center 10%;
  transform: scale(1.5);
  transform-origin: center 10%;
}
.move4 .ce1 {
  -webkit-transform: translate3d(-10px, 10px, 0);
  transform: translate3d(-10px, 10px, 0);
}
.move4 .ce2 {
  -webkit-transform: translate3d(10px, -30px, 0);
  transform: translate3d(10px, -30px, 0);
}
.move4 .ce3, .move4 .ce14 {
  -webkit-transform: translate3d(20px, -10px, 0);
  transform: translate3d(20px, -10px, 0);
}
.move4 .ce5 {
  -webkit-transform: translate3d(30px, 10px, 0);
  transform: translate3d(30px, 10px, 0);
}
.move4 .ce6, .move4 .ce15 {
  -webkit-transform: translate3d(30px, 2px, 0);
  transform: translate3d(30px, 2px, 0);
}
.move4 .ce7 {
  -webkit-transform: translate3d(5px, 30px, 0);
  transform: translate3d(5px, 30px, 0);
}
.move4 .ce8, .move4 .ce9, .move4 .ce13 {
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
}
.move4 .ce10 {
  -webkit-transform: translate3d(-10px, -5px, 0);
  transform: translate3d(-10px, -5px, 0);
}
.move4 .ce11 {
  -webkit-transform: translate3d(-10px, 15px, 0);
  transform: translate3d(-10px, 15px, 0);
}
.move4 .ce12 {
  -webkit-transform: translate3d(-15px, 20px, 0);
  transform: translate3d(-15px, 20px, 0);
}
.ce4 .com_close {
  bottom: -40px;
}
.move5 .ce5:after {
  -webkit-transform: scale(1.35);
  -webkit-transform-origin: 40% top;
  transform: scale(1.35);
  transform-origin: 40% top;
}
.move5 .ce1 {
  -webkit-transform: translate3d(-15px, 20px, 0);
  transform: translate3d(-15px, 20px, 0);
}
.move5 .ce2 {
  -webkit-transform: translate3d(-10px, -20px, 0);
  transform: translate3d(-10px, -20px, 0);
}
.move5 .ce3 {
  -webkit-transform: translate3d(10px, -20px, 0);
  transform: translate3d(10px, -20px, 0);
}
.move5 .ce4 {
  -webkit-transform: translate3d(-20px, -10px, 0);
  transform: translate3d(-20px, -10px, 0);
}
.move5 .ce6, .move5 .ce14 {
  -webkit-transform: translate3d(30px, -10px, 0);
  transform: translate3d(30px, -10px, 0);
}
.move5 .ce7 {
  -webkit-transform: translate3d(-20px, 30px, 0);
  transform: translate3d(-20px, 30px, 0);
}
.move5 .ce8 {
  -webkit-transform: translate3d(30px, 30px, 0);
  transform: translate3d(30px, 30px, 0);
}
.move5 .ce10 {
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
}
.move5 .ce12 {
  -webkit-transform: translate3d(-10px, 10px, 0);
  transform: translate3d(-10px, 10px, 0);
}
.move5 .ce9, .move5 .ce13 {
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
}
.ce5 .com_close {
  bottom: -40px;
}
.move6 .ce6:after {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.move6 .ce1, .move6 .ce4, .move6 .ce11, .move6 .ce12 {
  -webkit-transform: translate3d(-15px, 5px, 0);
  transform: translate3d(-15px, 5px, 0);
}
.move6 .ce2 {
  -webkit-transform: translate3d(-15px, -15px, 0);
  transform: translate3d(-15px, -15px, 0);
}
.move6 .ce3 {
  -webkit-transform: translate3d(-5px, -15px, 0);
  transform: translate3d(-5px, -15px, 0);
}
.move6 .ce5, .move6 .ce7 {
  -webkit-transform: translate3d(-20px, 10px, 0);
  transform: translate3d(-20px, 10px, 0);
}
.move6 .ce8 {
  -webkit-transform: translate3d(-10px, 15px, 0);
  transform: translate3d(-10px, 15px, 0);
}
.move6 .ce9, .move6 .ce13 {
  -webkit-transform: translate3d(20px, 10px, 0);
  transform: translate3d(20px, 10px, 0);
}
.move6 .ce10 {
  -webkit-transform: translate3d(-15px, -3px, 0);
  transform: translate3d(-15px, -3px, 0);
}
.move6 .ce14 {
  -webkit-transform: translate3d(15px, -15px, 0);
  transform: translate3d(15px, -15px, 0);
}
.move6 .ce15 {
  -webkit-transform: translate3d(15px, 5px, 0);
  transform: translate3d(15px, 5px, 0);
}
.move7 .ce7:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.move7 .ce1 {
  -webkit-transform: translate3d(-10px, -5px, 0);
  transform: translate3d(-10px, -5px, 0);
}
.move7 .ce2 {
  -webkit-transform: translate3d(2px, -10px, 0);
  transform: translate3d(2px, -10px, 0);
}
.move7 .ce4 {
  -webkit-transform: translate3d(-5px, -15px, 0);
  transform: translate3d(-5px, -15px, 0);
}
.move7 .ce5, .move7 .ce3 {
  -webkit-transform: translate3d(20px, -15px, 0);
  transform: translate3d(20px, -15px, 0);
}
.move7 .ce6, .move7 .ce14 {
  -webkit-transform: translate3d(15px, -10px, 0);
  transform: translate3d(15px, -10px, 0);
}
.move7 .ce8, .move7 .ce13 {
  -webkit-transform: translate3d(20px, 5px, 0);
  transform: translate3d(20px, 5px, 0);
}
.move7 .ce9 {
  -webkit-transform: translate3d(20px, 2px, 0);
  transform: translate3d(20px, 2px, 0);
}
.move7 .ce11 {
  -webkit-transform: translate3d(-10px, -2px, 0);
  transform: translate3d(-10px, -2px, 0);
}
.move7 .ce12 {
  -webkit-transform: translate3d(-10px, 5px, 0);
  transform: translate3d(-10px, 5px, 0);
}
.move7 .ce15 {
  -webkit-transform: translate3d(10px, -5px, 0);
  transform: translate3d(10px, -5px, 0);
}
.move7 .ce10 {
  -webkit-transform: translate3d(-5px, -5px, 0);
  transform: translate3d(-5px, -5px, 0);
}
.move8 .ce8:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.move8 .ce1 {
  -webkit-transform: translate3d(-10px, -5px, 0);
  transform: translate3d(-10px, -5px, 0);
}
.move8 .ce2 {
  -webkit-transform: translate3d(-5px, -10px, 0);
  transform: translate3d(-5px, -10px, 0);
}
.move8 .ce3 {
  -webkit-transform: translate3d(-2px, -10px, 0);
  transform: translate3d(-2px, -10px, 0);
}
.move8 .ce4 {
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
}
.move8 .ce5 {
  -webkit-transform: translate3d(-10px, -15px, 0);
  transform: translate3d(-10px, -15px, 0);
}
.move8 .ce6, .move8 .ce14 {
  -webkit-transform: translate3d(10px, -15px, 0);
  transform: translate3d(10px, -15px, 0);
}
.move8 .ce7 {
  -webkit-transform: translate3d(-15px, 3px, 0);
  transform: translate3d(-15px, 3px, 0);
}
.move8 .ce9, .move8 .ce15 {
  -webkit-transform: translate3d(15px, -5px, 0);
  transform: translate3d(15px, -5px, 0);
}
.move8 .ce10 {
  -webkit-transform: translate3d(-5px, -5px, 0);
  transform: translate3d(-5px, -5px, 0);
}
.move8 .ce11 {
  -webkit-transform: translate3d(-10px, -3px, 0);
  transform: translate3d(-10px, -3px, 0);
}
.move8 .ce12 {
  -webkit-transform: translate3d(-10px, 3px, 0);
  transform: translate3d(-10px, 3px, 0);
}
.move8 .ce13 {
  -webkit-transform: translate3d(10px, 8px, 0);
  transform: translate3d(10px, 8px, 0);
}
.move1 .ce1 h3, .move2 .ce2 h3, .move3 .ce3 h3, .move4 .ce4 h3, .move5 .ce5 h3, .move6 .ce6 h3, .move7 .ce7 h3, .move8 .ce8 h3, .move9 .ce9 h3 {
  line-height: 60px;
  padding: 25px 0 0;
}
.open .com_close {
  display: block;
}
.move9 .ce9:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.move9 .ce1 {
  -webkit-transform: translate3d(-10px, 3px, 0);
  transform: translate3d(-10px, 3px, 0);
}
.move9 .ce2 {
  -webkit-transform: translate3d(-10px, -5px, 0);
  transform: translate3d(-10px, -5px, 0);
}
.move9 .ce3, .move9 .ce6 {
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
}
.move9 .ce4, .move9 .ce5 {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
.move9 .ce7 {
  -webkit-transform: translate3d(-10px, 5px, 0);
  transform: translate3d(-10px, 5px, 0);
}
.move9 .ce8 {
  -webkit-transform: translate3d(-10px, 10px, 0);
  transform: translate3d(-10px, 10px, 0);
}
.move9 .ce10 {
  -webkit-transform: translate3d(-10px, -6px, 0);
  transform: translate3d(-10px, -6px, 0);
}
.move9 .ce11 {
  -webkit-transform: translate3d(-10px, -2px, 0);
  transform: translate3d(-10px, -2px, 0);
}
.move9 .ce12 {
  -webkit-transform: translate3d(-10px, 12px, 0);
  transform: translate3d(-10px, 12px, 0);
}
.move9 .ce13 {
  -webkit-transform: translate3d(-5px, 10px, 0);
  transform: translate3d(-5px, 10px, 0);
}
.move9 .ce14 {
  -webkit-transform: translate3d(5px, -15px, 0);
  transform: translate3d(5px, -15px, 0);
}
.move9 .ce15 {
  -webkit-transform: translate3d(15px, -15px, 0);
  transform: translate3d(15px, -15px, 0);
}
.com_ball:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.move1 .ce1 p, .move2 .ce2 p, .move3 .ce3 p, .move4 .ce4 p, .move5 .ce5 p, .move6 .ce6 p, .move7 .ce7 p, .move8 .ce8 p, .move9 .ce9 p {
  -webkit-animation: fadeIn .5s .2s linear both;
  animation: fadeIn .5s .2s linear both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ele {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.ele1 {
  background: url(../img/ele1.png) no-repeat;
  display: block;
  position: absolute;
}
.e1 {
  width: 209px;
  height: 206px;
  top: 0;
  right: -420px;
}
.e2 {
  width: 112px;
  height: 93px;
  background-position: -220px 0;
  top: 134px;
  left: 785px;
}
.e3 {
  width: 33px;
  height: 33px;
  background-position: -220px -100px;
  top: 430px;
  left: 850px;
}
.e4 {
  width: 40px;
  height: 40px;
  background-position: -220px -140px;
  top: 690px;
  left: -30px;
}
.e5 {
  width: 77px;
  height: 77px;
  background-position: -340px 0;
  top: 716px;
  left: -76px;
}
.e6 {
  width: 150px;
  height: 148px;
  background-position: -340px -100px;
  left: -440px;
  bottom: 0;
}
.slide-box {
  position: absolute;
  width: 1920px;
  height:1080px;
  margin:-540px 0 0 -960px;
  top:50%;
  left:50%;
}
