.linkman-box {
  background: #eeeeee;
  text-align: center; }
  .linkman-box .img {
    padding: 30px 0; }

.linkman-header {
  width: 100%; }
  .linkman-header img {
    width: 100%; }

.lianxi-box {
  margin-bottom: 50px;
  background: #fff;
  padding: 40px 110px; }
  .lianxi-box .lianxi-body {
    box-shadow: 0 0 21px #777; }
    .lianxi-box .lianxi-body .left, .lianxi-box .lianxi-body .right {
      float: left;
      width: 50%; }
      @media (max-width: 768px) {
        .lianxi-box .lianxi-body .left, .lianxi-box .lianxi-body .right {
          width: 100%; } }
    .lianxi-box .lianxi-body .left img {
      width: 100%; }
    .lianxi-box .lianxi-body .right {
      text-align: left;
      padding-left: 40px;
      padding-top: 60px; }
  .lianxi-box .lianxi-item {
    float: left;
    width: 48%;
    margin-top: 20px;
    box-shadow: 0 0 21px #777; }
    @media (max-width: 768px) {
      .lianxi-box .lianxi-item {
        width: 100%; } }
    .lianxi-box .lianxi-item .item-header {
      text-align: left;
      background: #309ece;
      color: #fff;
      font-size: 36px;
      padding: 20px; }
      .lianxi-box .lianxi-item .item-header .smil {
        float: right;
        font-size: 22px;
        line-height: 50px; }
    .lianxi-box .lianxi-item .item-content {
      text-align: left;
      padding: 20px; }
      .lianxi-box .lianxi-item .item-content h2 {
        color: #333;
        font-size: 28px; }
      .lianxi-box .lianxi-item .item-content p {
        color: #666;
        font-size: 19px; }
    .lianxi-box .lianxi-item .item-footer {
      text-align: center; }
      .lianxi-box .lianxi-item .item-footer .btn-my {
        background: #008ac5;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
