.news-box {
  background: #eeeeee;
}
.news-header {
  width: 100%;
}
.news-header img {
  width: 100%;
}
.news-list {
  padding: 40px 110px;
  background: #eeeeee;
}
.news-list .news-list-item {
  padding: 20px 60px;
  background: #fff;
  border: thin solid #ddd;
  margin-bottom: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: box-shadow .3s;
  -moz-transition: box-shadow .3s;
  -ms-transition: box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
}
.news-list .news-list-item:hover {
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.news-list .news-list-item h2.title {
  font-size: 30px;
  margin: 0;
}
.news-list .news-list-item .date-box {
  margin: 15px 0;
  vertical-align: middle;
}
.news-list .news-list-item .date-box .type {
  display: inline-block;
  padding: 5px;
  color: #00baff;
  background: #e5f3f9;
  font-size: 14px;
}
.news-list .news-list-item .date-box .date {
  padding: 0 25px;
  color: #999999;
  font-size: 16px;
}
.news-list .news-list-item .date-box .number {
  color: #999999;
  font-size: 16px;
}
.news-list .news-list-item .text-content {
  color: #666666;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content-top {
  background: url(../img/news-banner.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 487px;
  background-position: center center
}
.content-top .title {
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.content-top .sub-title {
  margin-top: 57px;
  text-align: center;
  letter-spacing: 10px;
  width: 100%;
  color: #fff;
  font-weight: bolder
}
.f40 {
  font-size: 40px;
  line-height: 1
}
