.product-header {
  width: 100%;
  height: 487px;
}
.product-header img {
  width: 100%;
  height: 487px;
}
.product {
  width: 100%;
  height: 670px;
}
.product-list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.swiper-slide.product-content {
  text-align: center;
  position: relative;
}
.swiper-slide.product-content img {
  width: 100%;
  height: 100%;
}
.swiper-slide.product-content h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 49px;
  font-weight: 300;
  color: #008ac5;
  top: 10px;
}
.swiper-slide.product-content .text-box {
  padding-top: 40px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 90px;
}
.swiper-slide.product-content .text-box p {
  font-size: 19px;
  color: #333;
  max-width: 670px;
  margin: 0 auto;
}
.product-list-text {
  width: 90%;
  margin: 0 auto;
}
.product-list-text .product-list-text-item {
  cursor: pointer;
  width: 20%;
  float: left;
  font-size: 0;
  padding: 25px;
}
.product-list-text .product-list-text-item.active h2 {
  color: #008ac5;
}
.product-list-text .product-list-text-item h2 {
  font-size: 18px;
}
.product-list-text .product-list-text-item p {
  font-size: 12px;
  color: #333;
}
