.about-box{
  //background: #eeeeee;
}
.about-header{
  width:100%;
  img{
     width:100%;
  }
}
.about-content{
  text-align: center;
  padding:0 110px;
  @media(max-width:768px){
    padding:0 10px;
  }
  .img{
    width:100%;
  }
  .text-content{
    text-align: center;
    padding-top:30px;
    padding-bottom:120px;
    color:#333;
    font-size:22px;
  }
  .title-content{
    margin-top:20px;
    color:#008ac5;
    text-align: center;
    font-size:32px;
  }
}
.huoban-box{
  margin-top:50px;
  margin-bottom:100px;
  div.huoban-item{
    float:left;
    text-align: center;
    padding:10px 0;
    width:50%;
    @media(max-width:768px){
      width:100%;
    }
  }
}
.youshi-box{
  width:100%;
  padding-top:50px;
  font-size:0;
  .youshi-item{
   float:left;
    width:33.333%;
    @media(max-width:768px){
      width:100%;
    }
    h2{
      font-size:30px;
      color:#008ac5;
  }
    p{
      padding:0 20px;
      font-size:18px;
      color:#333;
      overflow:hidden;
      text-overflow:ellipsis;
      display:-webkit-box; //将对象作为弹性伸缩盒子模型显示。
      -webkit-box-orient:vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
      -webkit-line-clamp:4; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。

    }

  }
}
