.linkman-box{
  background:#eeeeee;
  text-align: center;
  .img{
    padding:30px 0;
  }
}
.linkman-header{
  width:100%;
  img{
    width:100%;
  }
}
.lianxi-box{
  margin-bottom:50px;
  background: #fff;
  padding:40px 110px;
  .lianxi-body{
    box-shadow: 0 0 21px #777;
    .left,.right{
      float:left;
      width:50%;
      @media(max-width:768px){
        width:100%;
      }
    }
    .left{
      img{
        width:100%
      }
    }
    .right{
      text-align: left;
      padding-left:40px;
      padding-top:60px;
    }
  }
  .lianxi-item{
    float:left;
    width:48%;
    margin-top:20px;
    @media(max-width:768px){
      width:100%;
    }
    box-shadow: 0 0 21px #777;
    .item-header{
      text-align: left;
      background:#309ece;
      color:#fff;
      font-size:36px;
      padding:20px;
      .smil{
        float:right;
        font-size:22px;
        line-height:50px;
      }
    }
    .item-content{
      text-align: left;
      padding:20px;
      h2{
        color:#333;
        font-size:28px;
      }
      p{
        color:#666;
        font-size:19px;
      }
    }
    .item-footer{
    text-align: center;
      .btn-my{
        background: #008ac5;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
      }
    }
  }


}