.news-box{
  background: #eeeeee;
}
.news-header{
  width:100%;
  img{
    width:100%;
  }
}
.news-list{
  padding:40px 110px;
  background: #eeeeee;
  .news-list-item{
    padding:20px 60px;
    background: #fff;
    border:thin solid #ddd;
    margin-bottom:40px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-transition: box-shadow .3s ;
    -moz-transition: box-shadow .3s ;
    -ms-transition: box-shadow .3s ;
    -o-transition: box-shadow .3s ;
    transition: box-shadow .3s ;
    &:hover{
      -webkit-box-shadow: 0 0 14px rgba(0,0,0,.5);
      -moz-box-shadow: 0 0 14px rgba(0,0,0,.5);
      box-shadow: 0 0 14px rgba(0,0,0,.5);
    }
    h2.title{
      font-size:30px;
      margin:0;
    }
    .date-box{
      margin:15px 0;
      vertical-align: middle;
      .type{
        display: inline-block;
        padding:5px;
        color: #00baff;
        background: #e5f3f9;
        font-size:14px;
      }
      .date{
        padding:0 25px;
        color:#999999;
        font-size:16px;
      }
      .number{
        color:#999999;
        font-size:16px;
      }
    }
    .text-content{
      color:#666666;
      font-size:16px;
      overflow:hidden;
      text-overflow:ellipsis;
      display:-webkit-box; //将对象作为弹性伸缩盒子模型显示。
      -webkit-box-orient:vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
      -webkit-line-clamp:2; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
    }
  }
}
