.product-header{
  width:100%;
  //background: url('../img/product-banner.jpg') no-repeat;
  //  background-size:contain ;
  //height:530px;
  img{
    width:100%;
  }
}
.product{
  width:100%;
  height:670px;
}
.product-list{
  margin-top:50px;
}
.swiper-slide.product-content{
  text-align: center;
  position:relative;
  img{
    width:100%;
    height:100%
  }
  h2{
    width:100%;
    text-align: center;
    position:absolute;
    font-size:49px;
    font-weight: 300;
    color:#008ac5;
    top:10px;
  }
  .text-box{
    padding-top:40px;
    p{
      font-size:19px;
      color:#333;
      max-width:670px;
      margin:0 auto;
    }
    text-align: center;
    width:100%;
    position:absolute;
    top:90px;
  };
}
.product-list-text{
  width:90%;
  margin:0 auto;
  .product-list-text-item{
    cursor: pointer;
    width:20%;
    float:left;
    font-size:0;
    padding:25px;
    &.active h2{
      color:#008ac5;
    }
    h2{
      font-size:18px;
    }
    p{
      font-size:12px;
      color:#333;
    }
  }
}