<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.min.css">
    <link href="./assest/css/index.css" rel="stylesheet">
    <link href="./assest/css/news.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid body">
    <div class="menu-bg"></div>
    <header class="menu-box js_menu_box">
        <nav>
            <img src="./assest/img/logo.png" class="logo"></img>
            <ul >
                <li><a href="./index.html">首&#12288;页</a></li>
                <li><a href="./product.html" >产&#12288;品</a></li>
                <li><a href="./news.html" class="active">新&#12288;闻</a></li>
                <li><a href="./about.html">公司介绍</a></li>
                <li><a href="./linkman.html">联系我们</a></li>
            </ul>
        </nav>
    </header>
    <div class="news-box">
        <div class="news-header">
            <div class="content-top">
                <div class="f40 title">品品鲜新闻</div>
                <h4 class="f16 sub-title">&nbsp;了解一家公司，要看它的过往如何描写。</h4>
            </div>
        </div>
        <div class="news-list js_news_box" style="display: none">
            <div class="news-list-item">
                <h2 class="title">{{title}}</h2>
                <div class="date-box">
                    <span class="type">{{type}}</span>
                    <span class="date">{{date}}</span>
                    <span class="number"><i class="glyphicon glyphicon-eye-open"></i> {{number}}</span>
                </div>
                <p class="text-content">{{content}}</p>
                <div class="link-box text-right href"><a href={{href}} class="btn btn-link btn-md">查看更多 ></a></div>
            </a>
            </div>
        </div>
    </div>
    <div class="footer" >
        <p class="title">江苏品品鲜</p>
        <p class="smill">京ICP备16024194号 江苏品品鲜生物科技有限公司©pinpinxian | All Rights Reserved</p>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script>
    function  render(array){
        var box=$('.js_news_box'),itemString=box.html().trim(),renderString='';
        array.forEach(function(item){
            renderString+=itemString.replace('{{title}}',item.title).replace('{{type}}',item.type)
                .replace('{{date}}',item.createDate).replace('{{number}}',item.showNumber)
                .replace('{{content}}',item.content).replace('{{href}}',item.href)
        });
        box.html(renderString);
        box.css('display','block')
        $('.footer').css('display','block')
    }
    $(function(){
        $.get('./jsonData/news.json',function(arr){
            render(arr)
        })
    })
    //    滚动菜单栏的处理
    $(document).scroll(function(data){
        var menu = $('.menu-bg')
        if($(document).scrollTop()>100){
            menu.css('opacity','0.5')
        }else{
            menu.css('opacity','0')
        }
    })
</script>
</body>
</html>
