<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>产品介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.min.css">
    <link href="./assest/css/index.css" rel="stylesheet">
    <link href="./assest/css/product.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid body">
    <div class="menu-bg"></div>
    <header class="menu-box js_menu_box">
        <nav>
            <img src="./assest/img/logo.png" class="logo"></img>
            <ul >
                <li><a href="./index.html">首&#12288;页</a></li>
                <li><a href="./product.html" class="active">产&#12288;品</a></li>
                <li><a href="./news.html">新&#12288;闻</a></li>
                <li><a href="./about.html">公司介绍</a></li>
                <li><a href="./linkman.html">联系我们</a></li>
            </ul>
        </nav>
    </header>
    <div class="product-box">
        <div class="product-header">
            <img src="./assest/img/product-banner.png" alt="">
        </div>
        <div class="product-list js_display_box" style="display: none">
            <div class="swiper-container" >
                <div class="swiper-wrapper js_listData_box">
                    <div class="swiper-slide product-content">
                        <h2 class="product-title">{{title}}</h2>
                        <div class="text-box">
                        <p>{{content}}</p>
                        </div>
                        <img {{src}} alt="">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev" style="width:130px;"></div>
                <div class="swiper-button-next" style="width:130px;"></div>

                <!-- 如果需要滚动条 -->
                <!--<div class="swiper-scrollbar"></div>-->
            </div>
            <di class="product-list-text js_listText_box clearfix">
                <div class="product-list-text-item ">
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>
                </div>
            </di>
        </div>
    </div>
    <div class="footer" >
        <p class="title">江苏品品鲜</p>
        <p class="smill">京ICP备16024194号 江苏品品鲜生物科技有限公司©pinpinxian | All Rights Reserved</p>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/swiper/dist/js/swiper.jquery.min.js"></script>
<script>
    function init(array){
        var box=$('.js_listData_box'),itemString = box.html().trim(),renderString='';
        var textBox=$('.js_listText_box'),textString = textBox.html().trim(),textRenderString='';
        array.forEach(function(item){
           renderString+= itemString.replace('{{title}}',item.title).replace('{{content}}',item.content).replace('{{src}}','src="'+item.img+'"')
           textRenderString+= textString.replace('{{title}}',item.title).replace('{{content}}',item.content)
        })
        box.html(renderString);
        textBox.html(textRenderString);
        $('.js_display_box').css('display','block')
        $('.footer').css('display','block')
        $('.product-list-text-item').css('width',100/array.length+'%')
        $($('.product-list-text-item').get(0)).addClass('active')

    }
    function swiperInit() {
        var mySwiper = new Swiper ('.swiper-container', {
            autoplay: 5000,
            // 如果需要分页器
            pagination: '.swiper-pagination',
            paginationClickable:true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function(swiper){
                console.log(23141)
                var list=$(".js_listText_box .product-list-text-item");
                list.removeClass('active');
                console.log(list[swiper.activeIndex],swiper.activeIndex)
                $(list[swiper.activeIndex]).addClass('active')
            }

        // 如果需要滚动条
//            scrollbar: '.swiper-scrollbar'
        });
        //        点击蘑菇介绍时改变焦点图的显示
        $('.product-list-text-item').click(function(){
            mySwiper.slideTo($(this).index())
        })
    }
    $(function(){
        $.get('./jsonData/product.json',function(arrData){
            init(arrData);
            swiperInit();


        });
    });
//    滚动菜单栏的处理
    $(document).scroll(function(data){
        var menu = $('.menu-bg')
        if($(document).scrollTop()>100){
            menu.css('opacity','0.5')
        }else{
            menu.css('opacity','0')
        }
    })
</script>
</body>
</html>
